@property --deg {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

.profile::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  border-image: conic-gradient(
      from var(--deg),
      #669900,
      #99cc33,
      #ccee66,
      #006699,
      #3399cc,
      #990066,
      #cc3399,
      #ff6600,
      #ff9900,
      #ffcc00,
      #669900
    )
    0 0 1 0 / 0 0 20px 0;

  filter: blur(1.5rem);
  animation: spin 10s linear infinite;
}

@keyframes spin {
  from {
    --deg: 0deg;
  }
  to {
    --deg: 360deg;
  }
}

.icons {
  --selected-icon: 0;
  --icons-count: 0;
  --side-icons-count: 1;

  display: grid;
  grid-template-columns:
    repeat(max(calc(var(--selected-icon) - var(--side-icons-count)), 0))
    4rem 8rem 4rem repeat(
      max(calc(var(--icons-count) - var(--selected-icon)), 0),
      0
    );
  place-content: center;
  place-items: center;
}
