.volume[type="range"] {
  -webkit-appearance: none; /* Remove default Chrome styles */
  appearance: none; /* Remove default styles for all browsers */
  height: 16px; /* Matches the track height for consistency */
  background: transparent; /* Ensures no default background interferes */
  cursor: pointer;
}

/* Thumb styling */
.volume[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  width: 12px;
  height: 12px;
  background: hsl(var(--foreground));
  border: none;
  border-radius: 50%;
  transform: translateY(-45%);

  transition: 100ms;
}

.volume[type="range"]::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: hsl(var(--foreground));
  border: none;
  border-radius: 50%;
  cursor: pointer;

  transition: 100ms;
}

.volume[type="range"]:hover::-webkit-slider-thumb,
.volume[type="range"]:hover::-moz-range-thumb {
  width: 16px;
  height: 16px;
}

.volume[type="range"]::-moz-range-track {
  height: 1px;
  border-radius: 100px;
  @apply bg-gray-500;
}

.volume[type="range"]::-webkit-slider-runnable-track {
  height: 1px;
  border-radius: 100px;
  @apply bg-gray-500;
}

/* Focus styles */
.volume[type="range"]:focus {
  outline: none;
}

.track[type="range"] {
  -webkit-appearance: none; /* Remove default Chrome styles */
  appearance: none; /* Remove default styles for all browsers */
  height: 8px; /* Matches the track height for consistency */
  background-image: linear-gradient(
    to right,
    hsl(var(--foreground)) var(--percentage),
    transparent var(--percentage)
  );
  cursor: pointer;

  @apply bg-gray-500 rounded-md;
}

/* Thumb styling */
.track[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  width: 8px;
  height: 8px;
  background: hsl(var(--foreground));
  border: none;
  border-radius: 50%;

  transition: 100ms;
}

.track[type="range"]::-moz-range-thumb {
  width: 8px;
  height: 8px;
  background: hsl(var(--foreground));
  border: none;
  border-radius: 50%;
  cursor: pointer;

  transition: 100ms;
}

.track[type="range"]:hover::-webkit-slider-thumb {
  width: 16px;
  height: 16px;
  transform: translateY(-25%);
}

.track[type="range"]:hover::-moz-range-thumb {
  width: 16px;
  height: 16px;
}

.track[type="range"]::-moz-range-track {
  height: 8px;
}

.track[type="range"]::-webkit-slider-runnable-track {
  height: 8px;
}

/* Focus styles */
.track[type="range"]:focus {
  outline: none;
}
