.how-to-play__container::before {
  content: "";
  position: absolute;
  inset: -4px;
  border-radius: inherit;
  background-attachment: fixed;
  background-image: radial-gradient(
      circle at var(--x, 0) var(--y, 0),
      hsl(var(--primary)),
      transparent 8rem
    ),
    linear-gradient(to right, hsl(var(--secondary)), hsl(var(--secondary)));
  z-index: -1;
  pointer-events: none;
}

.how-to-play__container::after {
  content: "";
  position: absolute;
  inset: 0px;
  border-radius: inherit;
  background-attachment: fixed;
  background-image: radial-gradient(
    circle at var(--x, 0) var(--y, 0),
    hsl(var(--primary) / 0.75),
    transparent 10rem
  );
  opacity: 0.05;
  pointer-events: none;
  transition: 0.3s opacity ease;
}

.how-to-play__container:hover::after {
  opacity: 0.1;
}

@property --cover-ratio {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

/* Revealing effect */
.how-to-play__container-revealing-effect {
  /* mask-image: linear-gradient(to right bottom, black, transparent); */
  /* background-color: hsl(var(--background)); */
  background-image: linear-gradient(
    to left top,
    hsl(var(--background)) calc(var(--cover-ratio)),
    transparent calc(var(--cover-ratio) + 20%)
      /* hsl(var(--background) / max(var(--cover-ratio), 0)) 30%,
    hsl(var(--background) / min(max(calc(var(--cover-ratio) + 0.5), 0), 1)) 70% */
  );
}

.how-to-play__container-revealing-effect[animate="true"] {
  animation: anim 6s forwards;
}

@keyframes anim {
  to {
    --cover-ratio: -50%;
  }
}
