.slider[type="range"] {
  -webkit-appearance: none;
  appearance: none;
}

/* Thumb styling */
.slider[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;

  background: hsl(var(--foreground));

  width: 8px;
  height: 8px;
  border: none;
  border-radius: 50%;
  transform: translateY(-25%);

  transition: 100ms;
}

.slider[type="range"]::-moz-range-thumb {
  width: 8px;
  height: 8px;
  background: hsl(var(--foreground));
  border: none;
  border-radius: 50%;
  cursor: pointer;

  transition: 100ms;
}

.slider[type="range"]:hover::-webkit-slider-thumb {
  width: 16px;
  height: 16px;
  transform: translateY(calc(-25% - 2px));
}

.slider[type="range"]:hover::-moz-range-thumb {
  width: 16px;
  height: 16px;
}

.slider[type="range"]::-moz-range-track {
  height: 8px;
}

.slider[type="range"]::-webkit-slider-runnable-track {
  cursor: pointer;
  background-color: hsl(var(--secondary));
  height: 4px;
}

/* Focus styles */
.slider[type="range"]:focus {
  outline: none;
}
/* 
.slider__current_value::before {
  content: attr(data-value);
  color: hsl(var(--muted-foreground));
  font-size: 14px;
  position: absolute;
  bottom: 200%;
  left: var(--left-offset-percentage);
  transform: translateX(-50%);
  pointer-events: none;
} */
